<h1>Tool</h1>

<div class = "tool_info">
<%= "Name: #{@tool.name}" %> - <%= "Quantity: #{@tool.quantity}" %>
<%= "Price: #{@tool.formatted_price}" %>
<% if @tool.category.nil?  %>
  <%= "No category chosen" %>
<% else %>
  <%= "Category: #{@tool.category.name}" %>
<% end %>
<%= link_to "Destroy #{@tool.name}", tool_path(@tool.id), method: "delete" %>
<%= link_to "Update #{@tool.name}", edit_tool_path(@tool.id) %>
</div>

<!-- override get method  -->

<!-- tool_path part is far left in rake routes -->
<!-- can do , class: "task" for styles -->
