<h1>Tool</h1>

<div class = "tool_info">
<%= @tool.name %> - <%= @tool.quantity %>
<%= @tool.formatted_price %>
<%= link_to "Destroy #{@tool.name}", tool_path(@tool.id), method: "delete" %>
<%= link_to "Update #{@tool.name}", edit_tool_path(@tool.id) %>
</div>

<!-- override get method  -->

<!-- tool_path part is far left in rake routes -->
<!-- can do , class: "task" for styles -->
